.box {
  position: absolute !important;
  padding: 5rem;
  top: 50%;
  z-index: 7;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #ECECF1;
  background: -webkit-gradient(linear, left top, left bottom, from(#868688), to(#35343b));
  background: linear-gradient(to bottom, #868688, #35343b);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items {
  width: 60%;
  height: 90%;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1fr;
      grid-template-columns: 0.1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box__items__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items__left div {
  width: 100%;
  height: 6rem;
  color: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 4rem;
  cursor: pointer;
}

.box__items__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item {
  width: 40%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 0.7rem;
}

.box__items__right__item__name {
  border-radius: 1rem;
  cursor: pointer;
  background-color: #C9C3C3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.box__items__right__item__name.invisible {
  visibility: hidden;
}

.box__items__right__item__name--bottom {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0.7rem;
  font-size: 3rem;
  color: white;
}

.box__items__right__item__name--bottom__left {
  height: 100%;
  background-color: #C9C3C3;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 1rem;
}

.box__items__right__item__name--bottom__right {
  height: 100%;
  background-color: #C9C3C3;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 1rem;
}
/*# sourceMappingURL=more1.component.css.map */