.box {
  position: absolute;
  bottom: 30px;
  left: 9%;
  width: 68%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__devices {
  width: 80%;
  height: 80%;
}

.box__devices p {
  font-size: 1.5rem;
  color: black;
  text-transform: capitalize;
  font-family: monospace;
}

.box__devices__items {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.7rem;
}

.box__devices__items__item {
  height: 90%;
  border-radius: 3rem;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1.7fr 1.3fr;
      grid-template-rows: 1fr 1.7fr 1.3fr;
  padding: 0.5rem 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 2;
  cursor: pointer;
  -webkit-box-shadow: 10px 18px 20px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 18px 20px -11px rgba(0, 0, 0, 0.75);
}

.box__devices__items__item.active {
  background-color: #bad7e9;
}

.box__devices__items__item__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  padding: 0 1rem;
}

.box__devices__items__item__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__devices__items__item__top__left img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box__devices__items__item__top__right__btn {
  width: 7rem;
  height: 5rem;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  z-index: 555555555555555;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__devices__items__item__top__right__btn input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.box__devices__items__item__top__right__btn label {
  cursor: pointer;
  text-indent: -9999px;
  width: 4.4rem;
  height: 2rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.box__devices__items__item__top__right__btn label:after {
  content: "";
  position: absolute;
  top: 0rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.box__devices__items__item__top__right__btn input:checked + label {
  background: #008000;
}

.box__devices__items__item__top__right__btn input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
}

.box__devices__items__item__top__right__btn label:active:after {
  width: 3rem;
}

.box__devices__items__item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__devices__items__item__bottom__info {
  font-size: 2rem !important;
}

.box__devices__items__item__bottom__status {
  font-weight: bolder;
}
/*# sourceMappingURL=devices.component.css.map */