.box {
  position: absolute !important;
  padding: 5rem;
  top: 50%;
  z-index: 7;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #ececf1;
  background: -webkit-gradient(linear, left top, left bottom, from(#868688), to(#35343b));
  background: linear-gradient(to bottom, #868688, #35343b);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items {
  width: 100%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1fr;
      grid-template-columns: 0.1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box__items__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items__left div {
  width: 100%;
  height: 6rem;
  color: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 4rem;
  cursor: pointer;
}

.box__items__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item {
  width: 90%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr;
      grid-template-columns: 1fr 0.7fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 0.7rem;
}

.box__items__right__item__power {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.box__items__right__item__power__panel {
  color: white;
}

.box__items__right__item__power__panel--power {
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box__items__right__item__power__panel--on {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.47fr;
      grid-template-columns: 0.47fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item__power__panel--on__div {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: #C9C3C3;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.box__items__right__item__power__panel--on__div__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.box__items__right__item__power__panel--on__div__left__dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: gray;
  border-radius: 50%;
  -webkit-box-shadow: inset 20px 20px 60px #c2b7b7, inset -20px -20px 60px #6e6c6c;
          box-shadow: inset 20px 20px 60px #c2b7b7, inset -20px -20px 60px #6e6c6c;
}

.box__items__right__item__power__panel--on__div__right {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.box__items__right__item__power__panel--mode {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1.2rem;
}

.box__items__right__item__power__panel--mode__item {
  background-color: #C9C3C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  cursor: pointer;
}

.box__items__right__item__power__panel--mode__item--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items__right__item__power__panel--mode__item--icons i {
  font-size: 2.5rem;
}

.box__items__right__item__power__panel--fan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[3];
      grid-template-columns: repeat(3, 10rem);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1.2rem;
  place-content: center;
}

.box__items__right__item__power__panel--fan__item {
  background-color: #C9C3C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  cursor: pointer;
}

.box__items__right__item__temp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.box__items__right__item__temp__panel {
  color: white;
}

.box__items__right__item__temp__panel--temp {
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box__items__right__item__temp__panel--deg {
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__items__right__item__temp__panel--arrowUp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr;
      grid-template-columns: 0.6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item__temp__panel--arrowUp__item {
  background-color: #C9C3C3;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 5rem;
  cursor: pointer;
}

.box__items__right__item__temp__panel--arrowMiddle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr;
      grid-template-columns: 0.6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item__temp__panel--arrowMiddle__item {
  background-color: #C9C3C3;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.box__items__right__item__temp__panel--arrowBottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr;
      grid-template-columns: 0.6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__items__right__item__temp__panel--arrowBottom__item {
  background-color: #C9C3C3;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 5rem;
  cursor: pointer;
}

.box__items__right__item__temp__panel--heating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[2];
      grid-template-columns: repeat(2, 10rem);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 1.2rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

.box__items__right__item__temp__panel--heating__item1 {
  background-color: #C9C3C3;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.box__items__right__item__temp__panel--heating__item2 {
  background-color: #C9C3C3;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
}
/*# sourceMappingURL=more2.component.css.map */