.box {
  width: 68%;
  height: 70%;
  position: absolute;
  left: 9%;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.box__bath {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: grey;
  background-color: white;
  padding: 2rem;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1.9fr 0.4fr;
      grid-template-columns: 1.3fr 1.9fr 0.4fr;
  overflow: hidden;
}

.box__bath__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2.9fr 1fr;
      grid-template-rows: 2.9fr 1fr;
}

.box__bath__left__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
}

.box__bath__left__top__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-weight: bolder;
}

.box__bath__left__top__box {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box__bath__left__top__box__morning {
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 7px;
  color: white;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.box__bath__left__top__box__morning.active {
  background-color: black;
  color: white !important;
}

.box__bath__left__top__box__morning__left {
  padding: 0 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__left__top__box__morning__left p {
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: capitalize;
  color: black;
}

.box__bath__left__top__box__morning__left p.active {
  color: white;
  font-weight: bolder;
}

.box__bath__left__top__box__morning__left i {
  color: black;
  font-size: 1.9rem;
  margin-right: 1.2rem;
}

.box__bath__left__top__box__morning__left i.active {
  color: white !important;
}

.box__bath__left__top__box__morning__right {
  padding: 0 1.3rem;
  background-color: #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6094a7;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.box__bath__left__top__box__morning__right.active {
  background-color: #bad7e9;
  color: black;
  font-weight: bolder;
}

.box__bath__left__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
}

.box__bath__left__bottom__title {
  font-weight: bolder;
  text-transform: capitalize;
}

.box__bath__left__bottom__box {
  background-color: #dcdcdc;
  border-radius: 7px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 9rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box__bath__left__bottom__box__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.box__bath__left__bottom__box__left__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.box__bath__left__bottom__box__left__top p {
  font-size: 2rem;
  font-weight: bolder;
}

.box__bath__left__bottom__box__left__top span {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.562);
  font-weight: bolder;
}

.box__bath__left__bottom__box__left__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__left__bottom__box__left__bottom p {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.562);
}

.box__bath__left__bottom__box__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__left__bottom__box__right i {
  color: yellow;
  font-size: 4rem;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.box__bath__left__bottom__box__right p {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.562);
}

.box__bath__middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box__bath__middle__top {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.box__bath__middle__top__one {
  border-radius: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

.box__bath__middle__top__one__left {
  background-color: #dcdcdc;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  font-size: 4rem;
}

.box__bath__middle__top__one__left__top {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.box__bath__middle__top__one__left__top:active {
  background-color: #a89797;
}

.box__bath__middle__top__one__left__bottom {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.box__bath__middle__top__one__left__bottom:active {
  background-color: #a89797;
}

.box__bath__middle__top__one__right {
  background-color: yellow;
  background-color: #dcdcdc;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.3fr;
      grid-template-rows: 1fr 0.3fr;
}

.box__bath__middle__top__one__right__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.box__bath__middle__top__one__right__top__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.box__bath__middle__top__one__right__top__left__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__one__right__top__left__btn button {
  width: 85%;
  height: 85%;
  font-weight: bolder;
  font-size: 1.7rem;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.box__bath__middle__top__one__right__top__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.box__bath__middle__top__one__right__top__right__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__one__right__top__right__btn button {
  width: 85%;
  height: 85%;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.7rem;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: uppercase;
}

.box__bath__middle__top__one__right__bottom {
  background-color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  cursor: pointer;
}

.box__bath__middle__top__one__right__bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__one__right__bottom__right button {
  border: none;
  outline: none;
  width: 85%;
  height: 85%;
  text-transform: uppercase;
}

.box__bath__middle__top__two {
  border-radius: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

.box__bath__middle__top__two__left {
  background-color: #dcdcdc;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 0.1rem;
  font-size: 4rem;
}

.box__bath__middle__top__two__left__top {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.box__bath__middle__top__two__left__top:active {
  background-color: #a89797;
}

.box__bath__middle__top__two__left__middle {
  background-color: #c9c3c3;
  color: white;
  font-size: 2.3rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.box__bath__middle__top__two__left__bottom {
  background-color: #c9c3c3;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.box__bath__middle__top__two__left__bottom:active {
  background-color: #a89797;
}

.box__bath__middle__top__two__right {
  background-color: yellow;
  background-color: #dcdcdc;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.3fr;
      grid-template-rows: 1fr 0.3fr;
}

.box__bath__middle__top__two__right__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0.3rem;
}

.box__bath__middle__top__two__right__top__left {
  padding: 1rem 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.3fr 1fr;
      grid-template-rows: 1.3fr 1fr;
}

.box__bath__middle__top__two__right__top__left__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.3fr 1.2fr;
      grid-template-rows: 0.3fr 1.2fr;
}

.box__bath__middle__top__two__right__top__left__top__title {
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box__bath__middle__top__two__right__top__left__top__title p {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.box__bath__middle__top__two__right__top__left__top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__two__right__top__left__top__content i {
  font-size: 2.7rem;
}

.box__bath__middle__top__two__right__top__left__bottom {
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1fr;
      grid-template-columns: 0.4fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box__bath__middle__top__two__right__top__left__bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__two__right__top__left__bottom__left__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a3a1a1;
  border-radius: 50px;
}

.box__bath__middle__top__two__right__top__left__bottom__left__dot.active {
  background-color: lightseagreen;
}

.box__bath__middle__top__two__right__top__left__bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.box__bath__middle__top__two__right__top__right {
  padding: 1rem 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.3fr 1fr;
      grid-template-rows: 1.3fr 1fr;
}

.box__bath__middle__top__two__right__top__right__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.3fr 1.2fr;
      grid-template-rows: 0.3fr 1.2fr;
}

.box__bath__middle__top__two__right__top__right__top__title {
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box__bath__middle__top__two__right__top__right__top__title p {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.box__bath__middle__top__two__right__top__right__top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__two__right__top__right__top__content i {
  font-size: 2rem;
  cursor: pointer;
}

.box__bath__middle__top__two__right__top__right__top__content i.big {
  font-size: 3rem;
}

.box__bath__middle__top__two__right__top__right__top__content__brick {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  padding: 1.2rem;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__top {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__top::after {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: black;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__top.active::after {
  background-color: green;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__middle {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__middle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__middle.active::after {
  background-color: green;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__bottom {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__bottom::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  background-color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.box__bath__middle__top__two__right__top__right__top__content__brick__bottom.active::after {
  background-color: green;
}

.box__bath__middle__top__two__right__top__right__bottom {
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aa9a9a;
}

.box__bath__middle__top__two__right__bottom {
  background-color: #f0f0f0;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.box__bath__middle__top__two__right__bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__middle__top__two__right__bottom__right button {
  border: none;
  outline: none;
  width: 85%;
  height: 85%;
  text-transform: uppercase;
}

.box__bath__middle__top__three {
  background-color: #dcdcdc;
  border-radius: 7px;
  padding: 1.7rem 0.9rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
}

.box__bath__middle__top__three__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  cursor: pointer;
}

.box__bath__middle__top__three__top__all {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C9C3C3;
  -webkit-box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
          box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
}

.box__bath__middle__top__three__top__all:active {
  background: #C9C3C3;
  -webkit-box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
          box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
}

.box__bath__middle__top__three__top__all div {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.box__bath__middle__top__three__top__all div img {
  width: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box__bath__middle__top__three__bottom {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.box__bath__middle__top__three__bottom__left {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
          box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
}

.box__bath__middle__top__three__bottom__left:active {
  background: #C9C3C3;
  -webkit-box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
          box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
}

.box__bath__middle__top__three__bottom__center {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
          box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
}

.box__bath__middle__top__three__bottom__center:active {
  background: #C9C3C3;
  -webkit-box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
          box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
}

.box__bath__middle__top__three__bottom__right {
  background-color: #c9c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
          box-shadow: 14px 14px 29px #aba6a6, -14px -14px 29px #e7e0e0;
}

.box__bath__middle__top__three__bottom__right:active {
  background: #C9C3C3;
  -webkit-box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
          box-shadow: 5px 5px 10px #aba6a6, -5px -5px 10px #e7e0e0;
}

.box__bath__right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 0.7fr;
      grid-template-columns: 0.7fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-left: 1px solid rgba(0, 0, 0, 0.068);
  border-right: 1px solid rgba(0, 0, 0, 0.068);
  position: relative;
}

.box__bath__right__control {
  width: 100%;
  height: 6rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-color: white;
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 222222222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

.box__bath__right__control__div {
  width: 50px;
  height: 50px;
  background-color: #95bdff;
  place-items: center;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 0.3rem 0;
  overflow: hidden;
}

.box__bath__right__control__div__top {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-items: center;
  color: white;
}

.box__bath__right__control__div__bottom {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  width: 100%;
  height: 100%;
}

.box__bath__right__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1fr 0.4fr;
      grid-template-rows: 0.2fr 1fr 0.4fr;
}

.box__bath__right__box__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.box__bath__right__box__middle {
  background-color: #ece6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.box__bath__right__box__middle__water {
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  background-color: skyblue;
  width: 100%;
  height: 40%;
  background-image: url(/assets/blue-wave.png);
  background-size: 100%;
  background-position: center;
}

.box__bath__right__box__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__right__box__bottom__pause {
  width: 100%;
  height: 9rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.box__bath__right__box__bottom__pause__top {
  padding: 1.4rem 0.7rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: skyblue;
  font-size: 3rem;
  border: 0.5px solid rgba(0, 0, 0, 0.171);
  border-radius: 0.7rem;
}

.box__bath__right__box__bottom__pause__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__bath__right__box__bottom__pause__bottom p {
  font-weight: bolder;
  text-transform: capitalize;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=bathroom.component.css.map */